<connectionStrings>
  <clear />
  <add name="HauLeConnectString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Remoingay;Integrated Security=False;User Id=sa;Password=12345;MultipleActiveResultSets=True" />
  <!--<add name="HauLeEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UPFDV5A;initial catalog=Remoingay;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>